In [1]:
import numpy as np
# numpy is for mathematical operations

import matplotlib.pyplot as plt
# matplotlib is a plotting library and pyplot is a sub library for plotting charts

import pandas as pd
# pandas is used for importing and managing datasets

import warnings
warnings.filterwarnings('ignore')
# so that the program doesn't stop whenever an exception occurs

import seaborn as sns
# this is used for statistical data visualization

import io
# This module helps us to solve file related input and output operations

from google.colab import files
# for importing files from device to google colab

In [22]:
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['caw.csv']))

# link for the dataset = https://www.kaggle.com/code/balajivaraprasad/crimes-against-woman-in-india

Saving caw.csv to caw (1).csv

In [3]:
df.shape

(10677, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10677 entries, 0 to 10676
Data columns (total 11 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           10677 non-null  int64
 1   STATE/UT                                             10677 non-null  object
 2   DISTRICT                                             10677 non-null  object
 3   Year                                                 10677 non-null  int64
 4   Rape                                                 10677 non-null  int64
 5   Kidnapping and Abduction                             10677 non-null  int64
 6   Dowry Deaths                                         10677 non-null  int64
 7   Assault on women with intent to outrage her modesty  10677 non-null  int64
 8   Insult to modesty of Women                           10677 non-null  int64
 9   Cruelty by Husband or his Relatives                  10677 non-null  int64
 10  Importation of Girls                                 10677 non-null  int64
dtypes: int64(9), object(2)
memory usage: 917.7+ KB

In [5]:
df.head()

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0

In [6]:
df.isnull()

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
10672,False,False,False,False,False,False,False,False,False,False,False
10673,False,False,False,False,False,False,False,False,False,False,False
10674,False,False,False,False,False,False,False,False,False,False,False
10675,False,False,False,False,False,False,False,False,False,False,False
10676,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

Unnamed: 0                                             0
STATE/UT                                               0
DISTRICT                                               0
Year                                                   0
Rape                                                   0
Kidnapping and Abduction                               0
Dowry Deaths                                           0
Assault on women with intent to outrage her modesty    0
Insult to modesty of Women                             0
Cruelty by Husband or his Relatives                    0
Importation of Girls                                   0
dtype: int64

In [8]:
df[df.duplicated()==True]

Empty DataFrame
Columns: [Unnamed: 0, STATE/UT, DISTRICT, Year, Rape, Kidnapping and Abduction, Dowry Deaths, Assault on women with intent to outrage her modesty, Insult to modesty of Women, Cruelty by Husband or his Relatives, Importation of Girls]
Index: []

## DROPPING IRRELEVENT COLUMNS

In [9]:
df = df.drop(columns = 'Unnamed: 0')

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['STATE/UT'] = le.fit_transform(df['STATE/UT'])
df['DISTRICT'] = le.fit_transform(df['DISTRICT'])

In [11]:
df

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,3,3,2001,50,30,16,149,34,175,0
1,3,31,2001,23,30,7,118,24,154,0
2,3,281,2001,27,34,14,112,83,186,0
3,3,302,2001,20,20,17,126,38,57,0
4,3,433,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...
10672,38,906,2014,1,0,0,1,2,0,0
10673,38,1507,2014,1,0,0,1,2,0,0
10674,55,822,2014,3,1,0,12,1,1,0
10675,55,1174,2014,7,6,1,20,7,3,0
10676,55,1507,2014,10,7,1,32,8,4,0

In [12]:
df['total_crimes']=(df['Rape']+df['Kidnapping and Abduction']+df['Dowry Deaths']+
                       df['Assault on women with intent to outrage her modesty']+
                       df['Insult to modesty of Women']+df['Cruelty by Husband or his Relatives']+
                       df['Importation of Girls'])

df['Is_safe'] = (df['Rape']+df['Kidnapping and Abduction']+df['Dowry Deaths']+
                       df['Assault on women with intent to outrage her modesty']+
                       df['Insult to modesty of Women']+df['Cruelty by Husband or his Relatives']+
                       df['Importation of Girls'])

df

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls,total_crimes,Is_safe
0,3,3,2001,50,30,16,149,34,175,0,454,454
1,3,31,2001,23,30,7,118,24,154,0,356,356
2,3,281,2001,27,34,14,112,83,186,0,456,456
3,3,302,2001,20,20,17,126,38,57,0,278,278
4,3,433,2001,23,26,12,109,58,247,0,475,475
...,...,...,...,...,...,...,...,...,...,...,...,...
10672,38,906,2014,1,0,0,1,2,0,0,4,4
10673,38,1507,2014,1,0,0,1,2,0,0,4,4
10674,55,822,2014,3,1,0,12,1,1,0,18,18
10675,55,1174,2014,7,6,1,20,7,3,0,44,44
10676,55,1507,2014,10,7,1,32,8,4,0,62,62

In [13]:
print(df['total_crimes'])

df['Is_safe'] = df['Is_safe'].apply(str)


for i in df['total_crimes']:
  if i<=600:
    a = str(i)
    df['Is_safe']=df['Is_safe'].replace(a,'Yes')

  elif i>600 and i<= 1000:
    a = str(i)
    df['Is_safe']=df['Is_safe'].replace(a,'Moderate')

  else:
    a = str(i)
    df['Is_safe']=df['Is_safe'].replace(a,'No')

0        454
1        356
2        456
3        278
4        475
        ...
10672      4
10673      4
10674     18
10675     44
10676     62
Name: total_crimes, Length: 10677, dtype: int64

In [14]:
df['Is_safe']

0        Yes
1        Yes
2        Yes
3        Yes
4        Yes
        ...
10672    Yes
10673    Yes
10674    Yes
10675    Yes
10676    Yes
Name: Is_safe, Length: 10677, dtype: object

In [15]:
del df["total_crimes"]

df

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls,Is_safe
0,3,3,2001,50,30,16,149,34,175,0,Yes
1,3,31,2001,23,30,7,118,24,154,0,Yes
2,3,281,2001,27,34,14,112,83,186,0,Yes
3,3,302,2001,20,20,17,126,38,57,0,Yes
4,3,433,2001,23,26,12,109,58,247,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...
10672,38,906,2014,1,0,0,1,2,0,0,Yes
10673,38,1507,2014,1,0,0,1,2,0,0,Yes
10674,55,822,2014,3,1,0,12,1,1,0,Yes
10675,55,1174,2014,7,6,1,20,7,3,0,Yes
10676,55,1507,2014,10,7,1,32,8,4,0,Yes

In [16]:
x= df.iloc[:,:-1]
y = df.iloc[:,10]

In [17]:
# For splitting the data into training and testing datasets

from sklearn.model_selection import train_test_split

# Model_selection is a method for setting a blueprint to analyze data and then using it to measure new data

x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.3)

# x_train: features for the training data
# x_test: features for testing data
# y_train: Dependent variables for training data
# y_test: Independent variable for testing data

# GENERATING THE MODEL

In [18]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(x_train, y_train)

#Predict the response for test dataset
y_pred = gnb.predict(x_test)

# EVALUATING MODEL

In [19]:
from sklearn import metrics
# This modeule is for accuracy calculation

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
# This is to know or test how often the classifier is correct

Accuracy: 0.9098207118009098